@ionic-enterprise:registry=https://registry.ionicframework.com/
//registry.ionicframework.com/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIzMTg1NTM3In0.WB06UmrEEIkW4zRt7Vnwe7QJZMVZmy30DFBCUSDoMUx4WAvr3nO7UUQ47gO-Nwj78Fzoyk1EVkQl5e83fOnfuqJIIQoimwIbcLfDqNGm0CDXP-IOfiS50j0QPD6TQgZtPKNfW1J_chbk4iYpwFQeDqDqI7uuQkac8YGMfe70sdez_QdUfk7ak1WDJYx6-PKlQrLLys7VfbZDqi_3BJqUETthwebpjdqjgZI6xfAUuXcf4eX8iiBsyR_Ew8iBbO1SgifblXPG5Vo89lFdyb3fwzR_10iZRTb1I64mdbqyejOPCjE4SqPit4g7cwKaG0h7A_6RgwyUSNsn6ZhYuAEtdQ